.footer {
    color: #666666;
    background-color: #343A40;
    text-align: center;
    padding-top: 7px;
    vertical-align: middle;
    position: relative;
    margin: 0;
    width: 100%;
}